* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display';
    line-height: 1.7;
    font-weight: 300;
    font-size: 1rem;
    background: #fff;
    color: #364d59 !important;
}

/* Hero secion */
.hero-section {
    position: relative;
    padding: 111px 0;
}

/* container */
.container {
    max-width: 1150px;
    margin: 0 auto;
}

.background-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    inset: 0;
}

.over-layer-img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    inset: 0;
}

.main-div {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
}


/* ------------------------left-section--------------- */
.left-section {
    color: #fff;
    width: 400px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 530px;
    width: 100%;
}

.left-heading-1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 10px;
}

.h-1 {
    font-weight: 700;
}

.paragraph {
    margin-bottom: 10px;
    line-height: 25px;
}

/* .-----------------------rightsection--------------- */
.right-section {
    margin-left: 15px;
    margin-right: 15px;
}

.form-background {
    height: 419px;
    width: 470px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;

}

.right-heading-1 {
    font-size: 20px;
    font-weight: 300;
    color: #364d59;
    margin-bottom: 20px;
}

.input {
    height: 55px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    border-radius: 0.25rem;
    color: #364d59;
    font-size: 16px;
}

.button {
    padding: 12px 25px;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: none;
    cursor: pointer;
    color: #212529;
    background-color: #ffdfa7;
    border-radius: 0.25rem;
    transition: 0.5s;
    font-size: 16px;
}

.button:hover {
    background-color: #fcce7e;
}

/* -----------multiservices-section----------- */
.multiservices-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f9fa !important;
}

/* ----------------heading------------- */
.multiservices-heading {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 48px;
}

.multiservices-h1 {
    color: black;
}

/*--------------- blocks-------------- */
.multiservices-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 30px;
}

.multiservices-block {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
}

/* ------------block-image------ */
.img-wraper {
    position: relative;
    z-index: 1;
}

.overlayer {
    background-color: #fee2b3;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 5px;
    /* right: 244px; */
    width: 30px;
    height: 36px;
}

.multiservices-h2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.multiservices-p1 {
    color: #999;
    font-size: 14px;
}

/* ---------our-services------------ */
.our-services {
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-div-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-box {
    grid-column: span 2;
    display: flex;
    max-width: 80%;
    /* column-gap: 30px;     */
}

.image-box img {
    width: 100%;
    max-width: 50%;

}

.text-section {
    max-width: 100%;
    margin-top: 20px;

}

.our-services-h1 {
    margin-bottom: 24px;
    font-size: 1.75rem;
    line-height: 1.2;
}

h3 {
    font-weight: 300;
}

.our-services-strong {
    font-weight: 800;
}

.our-services-p1 {
    margin-bottom: 48px;
    padding-right: 15px;
}

.our-services-btn {
    margin-bottom: 16px;
    width: 200px;
    height: 50px;
    padding: 15px 25px 15px 25px;
    font-size: 15px;
}

/* -----------------our-customers---------- */
.our-customers {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f9fa;
}

.our-customers-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 1.5rem;
}

/* -------------blocks------------- */
.our-customers-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 30px;
}

.our-customers-block {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.our-customers-img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 16px;
}

.our-block-upper {
    display: flex;
    margin-bottom: 24px;
}

.our-block-h1 {
    line-height: 15px;
    font-size: 14px;

}

/* -----------legal-solution----------- */
.legal-solution {
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-div-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.legal-solution-img{
    max-width: 95%;
}
.legal-solution-h1{
    font-weight: 200;
    margin-bottom: 24px;
    font-size: 33px;
    line-height: 36px;
}
.legal-solution-ul{
    list-style: none;
}
.legal-solution-ul li{
    margin-bottom: 15px;
    /* padding-left: 35px; */
}
.legal-solution-btn{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Playfair Display';
    border: 1px solid #888;
    cursor: pointer;
    width: 100%;
    color: #999;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
}
.legal-solution-btn:hover{
    color: black;
}
.btn-1{
    margin-bottom: 0px;
    color: black;
}
.legal-btn-drop-down{
    background-color:#f8f9fa;
    color: #888;
    padding:0px 20px 20px 20px ;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* --------footer-------------- */
.footer{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-img{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    inset: 0;
}
.footer-over-layer-img{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    inset: 0;    
    height: 100vh;
    width: 100%;
}
.main-div-6{
    display: flex;
    justify-content: space-between  ;
}
.footer-line-1{
    max-width: 25%;
}
.footer-heading{
    font-size: 16px;
    color: #fff;
    margin-bottom: 24px;
}
.footer-icon{
    position: relative;
    top: 8px;
    left: 9px;
    cursor: pointer;
}

.footer-icon-background{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fee2b3;
    color: #fff;
    position: relative;
}
.footer-meanu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 80px;
}
.meanu{
    list-style: none;
    color:#888;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;   
}
.meanu:hover{
    color: #fff;
}
/* ------------------media-query------------------ */

@media(min-width:1024px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media(min-width:1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media(min-width:1440px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-section {
        padding: 216px;
    }
}

@media(min-width:2560px) {
    .container {

        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-section {
        padding: 580px;
    }
}

@media(max-width:1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-div {
        justify-content: space-between;
    }

    .text-section {
        margin-left: 80px;

    }
}

@media(max-width:992px) {
    .blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .text-section {
        margin-left: 0px;
    }

    .main-div-3 {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .image-box {
        max-width: 100%;
    }

    .our-customers-blocks {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-div-5{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-div-6{
        flex-direction: column;
    }
    .footer-meanu{
        grid-template-columns: repeat(1,1fr);
    }
     .footer-img{
        height: 100%;
     } 
     .footer-over-layer-img{
        height: 100%;
     }
  
}

@media(max-width:768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-div {
        flex-direction: column;
    }

    .form-background {
        width: 720px;
    }

    .left-section {
        width: 720px;
    }
    .main-div-5{
        grid-template-columns: repeat(1, 1fr);
    }
    .legal-solution-img{
        width: 100%;
    }
    .left-section-text-section{
        padding: 20px 0px 20px 0px;
    }

}

@media(max-width:765px) {
    .form-background {
        width: 390px;
    }

    .left-section {
        width: 400px;
    }

}

@media(max-width:567px) {
    .our-customers-blocks {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:425px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-background {
        width: 390px;
    }

    .left-section {
        width: 400px;
    }
}

@media(max-width:375px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-background {
        width: 340px;
    }

    .left-section {
        width: 350px;
    }
}

@media(max-width:375px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-background {
        width: 305px;
    }

    .left-section {
        width: 300px;
    }
}